.p-0{
    background-color: greenyellow;
    border: 6px solid grey;
}

.p-1{
    background-color: greenyellow;
    border: 6px solid grey;
}

.p-2{
    background-color: greenyellow;
    border: 6px solid grey;
}

.p-3{
    background-color: greenyellow;
    border: 6px solid grey;
}

.p-4{
    background-color: greenyellow;
    border: 6px solid grey;
}

.p-5{
    background-color: greenyellow;
    border: 6px solid grey;
}

.pt-5{
    background-color: red;
    border: 6px solid aqua;
}

.pb-5{
    background-color: red;
    border: 6px solid aqua;
}

.pl-5{
    background-color: red;
    border: 6px solid aqua;
}

.pr-5{
    background-color: red;
    border: 6px solid aqua;
}